<h1> Coupons </h1>

<p> <% @coupons.each do |coupon| %> </p>
<label> Coupon code: </label><%= link_to coupon.coupon_code, "/coupons/#{coupon.id}" %><br>
<label> Store: </label><%= coupon.store %><br>
<% end %>